<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        Hola! I just started playing with Obsidian to create a Digital Garden so there is a lot of work in progress.
        There will be more sections coming soon, for now take a look at some of th <a href="{{'/notes' | relative_url}}"> research ideas </a> I've been working on lately.</h3>

        <h3>If you want to connect, my BlueSky handle is <a href="https://bsky.app/profile/caprica7.bsky.social"> caprica7 </a></h3>
</div> </div>

